*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container-background {
    width: 100%;
    background-image: url("../images/background/background_nav.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.big-text {
    font-weight: 700;
    text-transform: uppercase;
}

.brand-font {
    color: #18CFAB;
}

.white-font {
    color: #FFFFFF;
}

.a,
.button {
    cursor: pointer;
}

.header-container {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(94, 93, 88, 0.60);
}

.logo-container {
    padding-right: 305px;
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    text-decoration: none;
}

.logo-image {
    position: absolute;
}

.logo-symbol {
    position: relative;
    left: 13px;
    font-size: 40px;
}

.header-slogan {
    position: relative;
    left: 26px;
    font-weight: 400;
}

/* Header navigation */
.navigation-menu {
    display: flex;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
}

.navigation-list-item {
    font-size: 16px;
    line-height: 1.2;
    list-style: none;
}

.navigation-list-item-link {
    margin-right: 21px;
    padding: 43px 0;
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
}

.navigation-list-item-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    transition: 0.5s;
}

.search-button {
    height: 20px;
    width: 20px;
    background: rgba(94, 93, 88, 0.60);
    border: transparent;
    cursor: pointer;
}

/* about */
.about{
    padding: 264px 0 0 0;
    justify-content: center;
    text-align: center;
}

.about-us-title {
    font-size: 35px;
    line-height: 1;
}

.about-us {
    font-size: 78px;
    line-height: 1.2;
}

.about-us-slogan {
    font-size: 34px;
    font-weight: 400;
    line-height: 2;
    color: #D4D4D4;
    text-transform: none;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 134px 0 243px 0;
}

.button {
    width: 168px;
    height: 63px;
    padding: 16px 17px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
}

.green-btn {
    font-size: 15px;
    background-color: #18CFAB;
    border-radius: 2px;
    box-shadow: 0 -5px #FFFFFF;
}

.blue-btn {
    margin-left: 26px;
    background-color: #00CBF6;
    border-radius: 2px;
    box-shadow: 0 -5px #FFFFFF;
}

.main-content {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(1, 377px);
    gap: 2px;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content-item1,
.main-content-item3 {
    background-color: #1C2A33;
}

.main-content-item2,
.main-content-item4 {
    background-color: #18CFAB;
}

.main-content-link{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.main-content-icon1,
.main-content-icon3 {
    margin-top: 87px;
    margin-bottom: 49px;
}

.main-content-icon2,
.main-content-icon4 {
    margin-top: 108px;
    margin-bottom: 59px;
}

/* Blog */
.our-services-title {
    padding-top: 83px;
}

.article-title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #4E4E4E;
    line-height: 1.1;
}

.separator {
    position: relative;
    padding-bottom: 24px;
}

.separator:before {
    content: "";
    background-image: url("../images/background/underline.png");
    position: absolute;
    width: 91px;
    height: 8px;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.our-services-list {
    margin: 67px 0 27px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
}

.our-services-item {
    width: 195px;
    height: 76px;
    padding: 17px 0 18px;
    font-size: 16px;
    line-height: 2.4;
    list-style: none;
    position: relative;
    text-align: center;
}

.our-services-item.is-active:before {
    content: "";
    background-image: url("../images/ourservice/Rectangle60.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 27px;
    height: 15px;
    bottom: -12px;
    left: 50%;
}

.our-services-item.is-active {
    background-color: #18CFAB;
    border: 2px solid #18CFAB;
}

.our-services-item.is-active>a {
    color: #FFFFFF;
}

.our-services-item:hover {
    border: 2px solid #18CFAB;
    transition-delay: 0.1s;
}

.our-services-link {
    color: #363B3E;
    text-decoration: none;
}

.our-services-specialists.is-active {
    margin-bottom: 91px;
    display: flex;
}

.our-services-specialists {
    display: none;
}

.specialists-photo {
    width: 192px;
    height: 139px;
    padding-right: 15px;
    object-fit: contain;
}

.specialists-skills {
    width: 952px;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    color: #777777;
}

/* Proposition */
.proposition {
    height: 476px;
    padding-top: 126px;
    background-image: url("../images/background/background_buy.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.proposition-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proposition-slogan {
    font-size: 40px;
    text-align: center;
}

.proposition-content {
    padding-top: 12px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    color: #D8D8D8;
}

.button-position {
    margin-top: 67px;
    margin-bottom: 127px;
}

/* Our works */
.works {
    background-color: #E9EDEF;
    padding-bottom: 99px;
}

.our-work {
    padding-top: 95px;
}

.our-work-list {
    padding: 69px 0 71px;
    display: flex;
    justify-content: center;
}

.our-work-item {
    padding: 14px 15px 13px 15px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #DADADA;
    list-style: none;
    color: #717171;
}

.our-work-item:hover {
    color: #18CFAB;
    border: 1px solid #18CFAB;
    transition-delay: 0.2s;
}

/* our-works-wrapper*/
.our-work-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0;
}

.visible-works .works-image {
    width: 285px;
    height: 211px;
    object-fit: contain;
}

.visible-works .change:nth-of-type(1) {
    display:none;
}

.visible-works:hover .change:nth-of-type(2) {
    display: none;
}

.visible-works:hover .change:nth-of-type(1) {
    display: block;
}

.img-change {
    width: 285px;
    height: 211px;
    display: block;
    text-align: center;
    padding-top: 40px;
    border-top: 3px solid #18CFAB;
    background: #E9EDEF;
}

.img-change-title1 {
    padding-top: 24px;
    font-size: 14px;
    line-height: 1.7;
}

.img-change-title2 {
    font-size: 12px;
    font-weight: 300;
    line-height: 2;
    color:#8A8A8A;
}

.hidden-works {
    display: none;
    width: 0;
    height: 0;
}

.load {
    display: flex;
    justify-content: center;
}

.load-button {
    position: relative;
    margin-top: 70px;
    font-size: 14px;
    background-color: #18CFAB;
    border-radius: 4px;
}

.plus {
    margin-right: 15px;
}

/* News-title */
.news-title {
    padding-top: 82px;
}

.news-wrapper {
    padding: 68px 0 131px;
    display: grid;
    grid-template-columns: repeat(4, 263px);
    grid-template-rows: repeat(2, 281px);
    column-gap: 35px;
    row-gap: 45px;
}

.news-link {
    text-decoration: none;
    position: relative;
}

.news-link:hover>.news-image + .amazing-post {
    color: #18CFAB;
    transition: 0.5s;
}

.news-link:before {
    content: "";
    background-image: url("../images/breakingnews/Datecopy.png");
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 66px;
    height: 65px;
}

.news-link:hover:before {
    content: "";
    background-image: url("../images/breakingnews/Datecopy1.png");
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 66px;
    height: 65px;
    transition: 0.5s;
}

.news-image {
    width: 100%;
    height: 208px;
}

.amazing-post {
    padding: 14px 40px 13px 15px;
    font-size: 18px;
    font-weight: 700;
    color: #717171;
}

.post-comments {
    padding: 0 53px 13px 11px;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
}

/* Requests */
.request {
    background-image: url("../images/background/background_ps.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.request-title {
    padding-top: 98px;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.people-request {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.request-item {
    margin: 68px 0 37px;
    align-self: center;
}

.clients-requests {
    display: none;
}

.clients-requests.shown {
    height: 397px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-request {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    text-align: center;
    color: #BBBBBB;
}

.clients-description {
    padding-top: 37px;
    align-self: center;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
}

.clients-profession {
    font-size: 13px;
    line-height: 2;
    font-weight: 300;
    text-align: center;
    color: #BBBBBB;
}

.clients {
    width: 143px;
    height: 143px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 72px;
    border: 12px solid #203E38;
}

.slider-wrapper {
    width: 483px;
    position: relative;
    margin: 0 auto 104px;
}

.owl-stage-outer {
    height: 100px!important;
    top: 30px;
}

.owl-nav button svg {
    width: 31px;
    height: 31px;
}

.owl-nav button svg path:hover {
    fill: #FFFFFF;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #18CFAB;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.owl-theme .owl-nav [class*=owl-] {
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
}

.owl-nav button {
    position: absolute;
    top: 95px;
    transform: translateY(-50%);
}

.owl-prev {
    left: -62px;
}

.owl-next {
    right: -62px;
    transform: rotate(180deg);
}

.owl-item.center {
    top: -15px;
}

.clients-frame {
    max-width: 65px;
    border-radius: 35px;
    border: 5px solid #203E38;
    position: relative;
    top: 35px;
    left: 0;
    object-fit: fill;
}

.clients-frame.picture {
    top: 15px;
}

.copyright {
    height: 121px;
    padding-top: 48px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #AEAEAE;
    background-color: #22353F;
}